Label Drucker/Connected Services/SAMsphereServer/SAMsphereServer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Auma.ServiceInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Auma.ServiceInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorDetails" nillable="true" type="tns:ArrayOfServiceErrorDetail" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceError" nillable="true" type="tns:ServiceError" />
  <xs:complexType name="ArrayOfServiceErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceErrorDetail" nillable="true" type="tns:ServiceErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceErrorDetail" nillable="true" type="tns:ArrayOfServiceErrorDetail" />
  <xs:complexType name="ServiceErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExClass" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExStacktrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typ" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceErrorDetail" nillable="true" type="tns:ServiceErrorDetail" />
</xs:schema>